<h1>Burgers!!!</h1>

<div>
    <div>
        <tr>
            <th>
                <h3>Eat that burger:</h3>
            </th>
            {{#each burgers}}
            <td>
                
                {{#unless devoured}} {{id}}
                {{burger_name}}
                <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}"> DEVOURED ME!!!
                </button>
                {{/unless}}
               
            </td>
            
        </tr>
        {{/each}}
    </div>

    <div>
        <tr>
            <th colspan="3">
                <h3>Burger Devoured!!!</h3>
            </th>
            <td>
                {{#each burgers}}
                {{#if devoured}}
                {{this.id}}
                {{this.burger_name}}
                <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
                {{/if}}
                {{/each}}
            </td>
        </tr>
    </div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
    </div>

    <button type="submit">Add Burger</button>
</form>