<div class="container"  align="center">
    <h1>BURGER... LICIOUS!</h1>

    <div class="row">
        <div class="eat-burger">
            <div class="title">
                <h3>EAT THAT BURGER SON!!!</h3>
            </div>
            {{#each burgers}}
            {{#unless devoured}}
            <div>
                {{burger_name}} <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
                    DEVOUR ME!!
                </button>
            </div>
            {{/unless}}
            {{/each}}
        </div>

        <div class="devoured-burger">
            <div class="title">
                <h3>BURGER DEVOURED!!!</h3>
            </div>
            {{#each burgers}}
            {{#if devoured}}
            <div>
                {{this.burger_name}}
                <button class="delete-burger" data-id="{{this.id}}">X</button>
            </div>
            {{/if}}
            {{/each}}
        </div>

    </div>
</div>
<br>
<div class="add-burger"  align="center">
    <div>
        <form class="create-form">
        
            <input type="text" id="ca" name="burger_name">
            <button type="submit">Add New Burger</button>
        </form>
    </div>
</div>