<h1>Burgers!!!</h1>

<h3>Eat that burger:</h3>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <td>{{id}}</td>
    <td>{{burger_name}}</td>

    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}"> DEVOURED ME!!!
    </button>

    
    {{/unless}}
    {{/each}}
</ul>


<h3>Burger Devoured!!!</h3>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <td>{{this.id}}</td>
    <td>{{this.burger_name}}</td>
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
    </div>

    <button type="submit">Add Burger</button>
</form>